# Importação de Bibliotecas

In [1]:
# Python versão 3.8.8
# Windows 10

# biblioteca para realizar requisição
import requests # versão 2.25.1

# biblioteca para interação com o sistema
import os
import shutil

# biblioeca para manipulação de dados
import pandas as pd # versão 1.3.2
from pandas.api.types import is_integer_dtype, is_object_dtype, is_float_dtype
import numpy as np
import unidecode

from zipfile import ZipFile

import warnings
warnings.filterwarnings('ignore', category=UserWarning, module='openpyxl')

from colorama import Fore, Style # versão 0.4.4

import sqlite3

# Variáveis Globais

In [2]:
# Endereço do diretório onde se encontra o script python
diretorio_atual = os.path.dirname(os.path.realpath('__file__')) + "\\"

# Endereço do diretório onde se encontram os dados
diretorio_dados = diretorio_atual + "Dados\\"

# Nome do Banco de Dados que será criado
nome_bd = "Enade_DW.sqlite"

df_2017_importado = pd.DataFrame()
df_2018_importado = pd.DataFrame()
df_2019_importado = pd.DataFrame()

df_cod_cidades_importado = pd.DataFrame()
df_dicionario_importado = pd.DataFrame()

df_con_2017_importado = pd.DataFrame()
df_con_2018_importado = pd.DataFrame()
df_con_2019_importado = pd.DataFrame()

# Leitura de Dados

## Leitura Microdados Enade

In [3]:
# Função para ler os microdados dos anos 2017, 2018 e 2019 do ENADE baixados pelo script 00
def leitura_microdados():      

    global df_2017_importado, df_2018_importado, df_2019_importado, df_enade_2017, df_enade_2018, df_enade_2019
    
    diretorio_enade = diretorio_dados + "Microdados_ENADE\\"
    
    if not len(df_2017_importado):
        print("Carregando Microdados do ano 2017...", end="\r", flush=True)
        zip_ano = ZipFile(diretorio_enade + "microdados_enade_2017.zip")
        arquivo = "3.DADOS/MICRODADOS_ENADE_2017.txt"
        df_2017_importado  = pd.read_csv(zip_ano.open(arquivo), sep=';', low_memory=False)
    
    df_enade_2017 = df_2017_importado.copy()
    print(f'Microdados do ano 2017 importados com sucesso para a variável {Fore.GREEN}df_enade_2017{Style.RESET_ALL}', end="\n\n")  
        
    if not len(df_2018_importado):
        print("Carregando Microdados do ano 2018...", end="\r", flush=True)
        zip_ano = ZipFile(diretorio_enade + "microdados_enade_2018.zip")
        arquivo = "2018/3.DADOS/microdados_enade_2018.txt"
        df_2018_importado  = pd.read_csv(zip_ano.open(arquivo), sep=';', low_memory=False)
    
    df_enade_2018 = df_2018_importado.copy()
    print(f'Microdados do ano 2018 importados com sucesso para a variável {Fore.GREEN}df_enade_2018.{Style.RESET_ALL}', end="\n\n")  
        
    if not len(df_2019_importado):
        print("Carregando Microdados do ano 2019...", end="\r", flush=True)
        zip_ano = ZipFile(diretorio_enade + "microdados_enade_2019.zip")
        arquivo = "3.DADOS/microdados_enade_2019.txt"
        df_2019_importado  = pd.read_csv(zip_ano.open(arquivo), sep=';', low_memory=False)
    
    df_enade_2019 = df_2019_importado.copy()
    print(f'Microdados do ano 2019 importados com sucesso para a variável {Fore.GREEN}df_enade_2019.{Style.RESET_ALL}', end="\n\n")

In [4]:
leitura_microdados()

Microdados do ano 2017 importados com sucesso para a variável df_enade_2017

Microdados do ano 2018 importados com sucesso para a variável df_enade_2018.

Microdados do ano 2019 importados com sucesso para a variável df_enade_2019.

## Leitura Códigos Cidades Microdados ENADE

In [5]:
# Função para ler o dicionário com códigos das cidades do IBGE que se encontra no dicionário dos Microdados
# do ENADE baixados pelo script 00

def leitura_cod_cidades():
    
    global df_cod_cidades_importado, df_cod_cidades
    diretorio_enade = diretorio_dados + "Microdados_ENADE\\"
    
    if not len(df_cod_cidades_importado):
        zip_ano = ZipFile(diretorio_enade + "microdados_enade_2019.zip")
        arquivo = "1.LEIA-ME/Dicionário de variáveis dos Microdados do Enade 2019.xlsx"
#     print("Carregando Microdados do ano {}...".format(ano), end="\r", flush=True)

        df_cod_cidades_importado  = pd.read_excel(zip_ano.open(arquivo), sheet_name='MUNICÍPIOS', 
                                                  skiprows = 3, header = 0, usecols = "B:D") 
    
    df_cod_cidades = df_cod_cidades_importado.copy()
    print(f'Dados dos Códigos das Cidades importados com sucesso para a variável {Fore.GREEN}df_cod_cidades.{Style.RESET_ALL}', end="\n\n")

In [6]:
leitura_cod_cidades()

Dados dos Códigos das Cidades importados com sucesso para a variável df_cod_cidades.

## Leitura Dados Conceito ENADE

In [7]:
def leitura_conceito_ENADE():
    
    global df_con_2017_importado, df_con_2018_importado, df_con_2019_importado, df_con_2017, df_con_2018, df_con_2019
    diretorio_conceito = diretorio_dados + "Conceito_ENADE\\"
    
    anos_enade = ["2017","2018","2019"]
    
    for ano in anos_enade:
        
        if not len(globals()[f'df_con_{ano}_importado']):
            
            globals()[f'df_con_{ano}_importado'] = pd.read_excel(diretorio_conceito + f'conceito_enade_{ano}.xlsx')

        globals()[f'df_con_{ano}'] = globals()[f'df_con_{ano}_importado'].copy()
        
        print(f'Conceito do ENADE do ano {ano} importado com sucesso para a variável {Fore.GREEN}df_con_{ano}{Style.RESET_ALL}', 
          end="\n\n")

In [8]:
leitura_conceito_ENADE()

Conceito do ENADE do ano 2017 importado com sucesso para a variável df_con_2017

Conceito do ENADE do ano 2018 importado com sucesso para a variável df_con_2018

Conceito do ENADE do ano 2019 importado com sucesso para a variável df_con_2019

## Leitura dicionário

In [9]:
def leitura_dicionarios():
    
    global df_dicionario_importado, df_dicionario
    diretorio_enade = diretorio_dados + "Microdados_ENADE\\"
    
    if not len(df_dicionario_importado):
        zip_ano = ZipFile(diretorio_enade + "microdados_enade_2017.zip")
        arquivo = "1.LEIA-ME/Dicionário de variáveis dos Microdados do Enade_Ediç╞o 2017.xlsx"
        
        df_dicionario_importado  = pd.read_excel(zip_ano.open(arquivo), sheet_name='DICIONÁRIO', skiprows = 1, 
                                                 header = 0, usecols = "B:F") 
    
    df_dicionario_importado = df_dicionario_importado.dropna(axis = 0).reset_index(drop = True)
    df_dicionario = df_dicionario_importado.copy()
    print(f'Dicionário dos Microdados importados com sucesso para a variável {Fore.GREEN}df_dicionario.{Style.RESET_ALL}', end="\n\n")

In [10]:
leitura_dicionarios()

Dicionário dos Microdados importados com sucesso para a variável df_dicionario.

# Tratamento de Dados

## Eliminação de Colunas que se encontram apenas na base de 2017

In [11]:
colunas_so_2017 = list(set(df_enade_2017.columns) - set(df_enade_2018.columns))
df_enade_2017 = df_enade_2017.drop(columns = colunas_so_2017)

## Concatenação das Bases de 2017, 2018 e 2019

In [12]:
df_enade_17_18_19 = pd.concat([df_enade_2017, df_enade_2018, df_enade_2019]).reset_index(drop = True)

In [13]:
df_enade_17_18_19.shape

(1519493, 137)

In [14]:
df_con_17_18_19 = pd.concat([df_con_2017, df_con_2018, df_con_2019]).reset_index(drop = True)

In [15]:
df_enade_17_18_19.sample(4)

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
451244,2017,3648,4,10022,5814,1135690,1,5103403,51,5,...,5.0,5.0,5.0,5.0,4.0,5.0,5.0,5.0,4.0,5.0
430475,2017,4452,4,10022,5710,1110071,1,1504208,15,1,...,6.0,6.0,6.0,5.0,5.0,6.0,6.0,5.0,5.0,5.0
1232076,2019,5520,10005,10022,19,67586,1,1400100,14,1,...,6,6,6,6,6,6,6,6,6,6
923211,2018,861,10005,10022,2,17303,1,1600303,16,1,...,5.0,3.0,3.0,4.0,4.0,4.0,4.0,4.0,3.0,3.0

## Eliminacao amostras vazias ou com nan na coluna de Nota Geral

In [16]:
df_enade_17_18_19 = df_enade_17_18_19.replace(' ', np.nan)

In [17]:
# Como a Nota é um fato, foram elinadas as amostras que não apresentam nota
df_enade_17_18_19 = df_enade_17_18_19[df_enade_17_18_19["NT_GER"].notna()].reset_index(drop = True)

In [18]:
df_enade_17_18_19.shape

(1302299, 137)

## Eliminação de NaN em outras colunas utilizadas

In [19]:
turno_maisf_ies = df_enade_17_18_19.groupby(['CO_IES'])["CO_TURNO_GRADUACAO"].agg(pd.Series.mode).to_frame()

In [20]:
dicionario_turno_ies = dict(zip(turno_maisf_ies.index, turno_maisf_ies['CO_TURNO_GRADUACAO']))

In [21]:
index_nan = df_enade_17_18_19[df_enade_17_18_19["CO_TURNO_GRADUACAO"].isna()].index.to_list()

In [22]:
for index in index_nan:
            
    cod_ies = df_enade_17_18_19.CO_IES[index].copy()
    try:
        df_enade_17_18_19.CO_TURNO_GRADUACAO[index] = dicionario_turno_ies[cod_ies].copy()
    
    except:
        pass

<ipython-input-22-dc595c438c55>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_enade_17_18_19.CO_TURNO_GRADUACAO[index] = dicionario_turno_ies[cod_ies].copy()
C:\Users\010938631\Anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [23]:
df_enade_17_18_19.CO_TURNO_GRADUACAO.value_counts(dropna = False)

4.0    686757
3.0    424100
1.0    155197
2.0     35953
NaN       292
Name: CO_TURNO_GRADUACAO, dtype: int64

In [24]:
# As colunas abaixo são colunas presentes nas dimensões que apresentam nulos, como o número é baixo comparado ao 
# tamanho total da base de dados, foi optado a remoção de nulos 
df_enade_17_18_19 = df_enade_17_18_19[df_enade_17_18_19.CO_TURNO_GRADUACAO.notna()].reset_index(drop = True) # 292 nulos

In [25]:
df_enade_17_18_19 = df_enade_17_18_19.dropna(subset=["QE_I01"]).reset_index(drop = True) # 10231 nulos

In [26]:
df_enade_17_18_19.shape

(1291776, 137)

## Eliminação de amostras duvidosas

In [27]:
#Há casos de 1 amostra com estudante com idade igual 4, 3 igual a 11 e 1 igual 12
df_enade_17_18_19 = df_enade_17_18_19[df_enade_17_18_19["NU_IDADE"] > 12]

## Renomeação de Colunas

In [28]:
df_enade_17_18_19 = df_enade_17_18_19.rename(columns = {"NU_ANO": "ID_TEMPO"})

# Criação das Tabelas de Dimensão e Fato

## Dimensão Tempo

In [29]:
dim_tempo = df_enade_17_18_19[["ID_TEMPO"]].drop_duplicates().reset_index(drop = True)
dim_tempo["ANO"] = dim_tempo.ID_TEMPO
dim_tempo = dim_tempo.set_index("ID_TEMPO").sort_index()

In [30]:
dim_tempo.head(3)

           ANO
ID_TEMPO
2017      2017
2018      2018
2019      2019

## Dimensão Curso

In [31]:
df_enade_17_18_19["ID_CURSO"] = df_enade_17_18_19.groupby(['CO_MODALIDADE','CO_GRUPO']).ngroup()

In [32]:
dim_curso = df_enade_17_18_19[["ID_CURSO",'CO_MODALIDADE','CO_GRUPO']]
dim_curso = dim_curso.drop_duplicates().set_index("ID_CURSO").sort_index()

In [33]:
dicionario_resposta = {0 : "Educação a Distância",
                       1 : "Educação Presencial",
                       2 : "Educação a Distância"}

dim_curso = dim_curso.replace({"CO_MODALIDADE": dicionario_resposta})

dicionario_resposta = dict(zip(df_con_17_18_19['Código da Área'], df_con_17_18_19['Área de Avaliação']))

dim_curso = dim_curso.replace({"CO_GRUPO": dicionario_resposta})

In [34]:
dim_curso = dim_curso.rename(columns = {"CO_MODALIDADE" : "MODALIDADE_CURSO",
                       "CO_GRUPO" : "GRUPO_CURSO"})

In [35]:
dim_curso.head(3)

              MODALIDADE_CURSO  GRUPO_CURSO
ID_CURSO
0         Educação a Distância   ENFERMAGEM
1         Educação a Distância     NUTRIÇÃO
2         Educação a Distância  BIOMEDICINA

## Dimensão IES

In [36]:
df_enade_17_18_19["ID_IES_ANO"] = df_enade_17_18_19.groupby(['CO_IES', 'CO_CATEGAD',  'CO_ORGACAD']).ngroup()

In [37]:
dim_ies = df_enade_17_18_19[["ID_IES_ANO",'CO_IES', 'CO_CATEGAD',  'CO_ORGACAD']]
dim_ies = dim_ies.drop_duplicates().set_index("ID_IES_ANO").sort_index()

In [38]:
dicionario_codigos = {10019 : "Centro Federal de Educação Tecnológica",
                    10020 : " Centro Universitário",
                    10022 : "Faculdade ",
                    10026 : "Instituto Federal de Educação, Ciência e Tecnologia",
                    10028 : "Universidade"}

dim_ies = dim_ies.replace({"CO_ORGACAD": dicionario_codigos})

dicionario_codigos = {1 : "Pública Federal",
                    2 : "Pública Estadual",
                    3 : "Pública Municipal",
                    4 : "Privada com fins lucrativos",
                    5 : "Privada sem fins lucrativos",
                     7: "Especial",
                     118:"Privada com fins lucrativos",
                    120:"Privada sem fins lucrativos",
                    121:"Privada sem fins lucrativos",
                    10005:"Privada com fins lucrativos",
                    10006:"Privada com fins lucrativos",
                    10007:"Privada sem fins lucrativos",
                    10008:"Privada sem fins lucrativos",
                    10009:"Privada sem fins lucrativos",
                    17634:"Privada sem fins lucrativos",
                    93:"Pública Federal",
                    115:"Pública Estadual",
                    116:"Pública Municipal",
                    10001:"Pública Estadual",
                    10002:"Pública Federal",
                    10003:"Pública Municipal",
                    895: "Pública Municipal"}

dim_ies = dim_ies.replace({"CO_CATEGAD": dicionario_codigos})

nome_ies_recence = df_con_17_18_19[['Código da IES','Nome da IES']].drop_duplicates(subset = 'Código da IES', 
                                                                                    keep = "last")

dicionario_codigos = dict(zip(nome_ies_recence['Código da IES'], nome_ies_recence['Nome da IES']))
dim_ies = dim_ies.replace({"CO_IES": dicionario_codigos})

In [39]:
nome_ies_recence = df_con_17_18_19[['Código da IES','Nome da IES']].drop_duplicates(subset = 'Código da IES', keep = "last")
dicionario_codigos = dict(zip(nome_ies_recence['Código da IES'], nome_ies_recence['Nome da IES']))


dim_ies = dim_ies.replace({"CO_IES": dicionario_codigos})

In [40]:
dim_ies = dim_ies.rename(columns = {"CO_IES" : "NOME_IES",
                                       "CO_CATEGAD" : "CATEGORIA_IES",
                                       "CO_ORGACAD" : "ORGANIZACAO_IES"})

In [41]:
dim_ies.head(4)

,NOME_IES,CATEGORIA_IES,ORGANIZACAO_IES
ID_IES_ANO,,,
0,UNIVERSIDADE FEDERAL DE MATO GROSSO,Pública Federal,Universidade
1,UNIVERSIDADE FEDERAL DE MATO GROSSO,Pública Federal,Universidade
2,UNIVERSIDADE DE BRASÍLIA,Pública Federal,Universidade
3,UNIVERSIDADE DE BRASÍLIA,Pública Federal,Universidade

## Dimensão Região

In [42]:
codigos_regiao_cidade = df_enade_17_18_19[["CO_MUNIC_CURSO","CO_REGIAO_CURSO"]].drop_duplicates()
codigos_regiao_cidade = codigos_regiao_cidade.reset_index(drop = True)

In [43]:
dicionario_regiao = {1: "Norte", 2: "Nordeste", 3:"Sudeste", 4:"Sul", 5:"Centro-Oeste"}
codigos_regiao_cidade = codigos_regiao_cidade.replace({"CO_REGIAO_CURSO": dicionario_regiao})
codigos_regiao_cidade = codigos_regiao_cidade.rename(columns = {"CO_REGIAO_CURSO": "REGIAO_CURSO"})

In [44]:
df_cod_cidades = df_cod_cidades.rename(columns = {"CÓDIGO DO MUNICÍPIO": "CO_MUNIC_CURSO",
                                                  "NOME DO MUNICÍPIO": "NOME_MUNICIPIO"})

In [45]:
dim_regiao = pd.merge(df_cod_cidades, codigos_regiao_cidade, on = "CO_MUNIC_CURSO").set_index("CO_MUNIC_CURSO")
dim_regiao = dim_regiao.sort_index()
dim_regiao.head(3)

                   NOME_MUNICIPIO  UF REGIAO_CURSO
CO_MUNIC_CURSO
1100023                 ARIQUEMES  RO        Norte
1100049                    CACOAL  RO        Norte
1100064         COLORADO DO OESTE  RO        Norte

## Dimensão Presença

In [46]:
df_enade_17_18_19["ID_PRESENCA"] = df_enade_17_18_19.groupby(['TP_PR_OB_FG','TP_PR_DI_FG','TP_PR_OB_CE','TP_PR_DI_CE']).ngroup()

In [47]:
dicionario_presenca_prova = { 333 : 0,
                              555 : 1}

In [48]:
dim_presenca =  df_enade_17_18_19[['ID_PRESENCA','TP_PR_OB_FG','TP_PR_DI_FG','TP_PR_OB_CE','TP_PR_DI_CE']]
dim_presenca = dim_presenca.drop_duplicates().set_index('ID_PRESENCA').sort_index()

dim_presenca = dim_presenca.replace({'TP_PR_OB_FG': dicionario_presenca_prova,
                                     'TP_PR_DI_FG': dicionario_presenca_prova,
                                     'TP_PR_OB_CE': dicionario_presenca_prova,
                                     'TP_PR_DI_CE': dicionario_presenca_prova})

dim_presenca = dim_presenca.astype(int)

In [49]:
dim_presenca.head()

             TP_PR_OB_FG  TP_PR_DI_FG  TP_PR_OB_CE  TP_PR_DI_CE
ID_PRESENCA
0                      0            0            0            0
1                      0            0            0            1
2                      0            0            1            0
3                      0            0            1            1
4                      0            1            0            0

## Dimensão Aluno Socio

In [50]:
df_enade_17_18_19.QE_I02 = np.where(df_enade_17_18_19.QE_I02.isna(), 
                                    df_enade_17_18_19.QE_I02.value_counts().idxmax(), df_enade_17_18_19.QE_I02)

df_enade_17_18_19.QE_I03 = np.where(df_enade_17_18_19.QE_I03.isna(), 
                                    df_enade_17_18_19.QE_I03.value_counts().idxmax(), df_enade_17_18_19.QE_I03)

In [51]:
df_enade_17_18_19["ID_ALUNO_INFO"] = df_enade_17_18_19.groupby(['NU_IDADE','TP_SEXO','CO_TURNO_GRADUACAO',
                                                                'QE_I01','QE_I02','QE_I03']).ngroup()

In [52]:
dim_info_aluno = df_enade_17_18_19[["ID_ALUNO_INFO",'NU_IDADE','TP_SEXO','CO_TURNO_GRADUACAO','QE_I01','QE_I02','QE_I03']]
dim_info_aluno = dim_info_aluno.drop_duplicates().set_index("ID_ALUNO_INFO").sort_index()

In [53]:
dicionario_resposta = {"A" : "Solteiro(a)",
                         "B" : "Casado(a)",
                         "C" : "Divorciado(a)",
                         "D" : "Viúvo(a)",
                         "E" : "Outro"}

dim_info_aluno = dim_info_aluno.replace({"QE_I01": dicionario_resposta})

dicionario_resposta = {"A" : "Branca",
                         "B" : "Preta",
                         "C" : "Amarela",
                         "D" : "Parda",
                         "E" : "Indígena",
                         "F" : "Não quero declarar"}

dim_info_aluno = dim_info_aluno.replace({"QE_I02": dicionario_resposta})

dicionario_resposta = {"A" : "Brasileira",
                         "B" : "Brasileira naturalizada",
                         "C" : "Estrangeira"}

dim_info_aluno = dim_info_aluno.replace({"QE_I03": dicionario_resposta})

In [54]:
dim_info_aluno = dim_info_aluno.rename(columns = {"QE_I01" : "ESTADO_CIVIL",
                       "QE_I02" : "RAÇA",
                       "QE_I03" : "NACIONALIDADE"})

dim_info_aluno.CO_TURNO_GRADUACAO = dim_info_aluno.CO_TURNO_GRADUACAO.astype(int)

In [55]:
dim_info_aluno.head()

,NU_IDADE,TP_SEXO,CO_TURNO_GRADUACAO,ESTADO_CIVIL,RAÇA,NACIONALIDADE
ID_ALUNO_INFO,,,,,,
0,16,M,4,Solteiro(a),Branca,Brasileira
1,17,F,2,Solteiro(a),Branca,Brasileira
2,17,M,3,Solteiro(a),Parda,Brasileira
3,18,F,1,Solteiro(a),Branca,Brasileira
4,18,F,1,Solteiro(a),Parda,Brasileira

## Dimensao Ensino Médio

In [56]:
df_enade_17_18_19.QE_I17 = np.where(df_enade_17_18_19.QE_I17.isna(), 
                                    df_enade_17_18_19.QE_I17.value_counts().idxmax(), df_enade_17_18_19.QE_I17)

df_enade_17_18_19.QE_I18 = np.where(df_enade_17_18_19.QE_I18.isna(), 
                                    df_enade_17_18_19.QE_I18.value_counts().idxmax(), df_enade_17_18_19.QE_I18)

In [57]:
df_enade_17_18_19["ID_ALUNO_ENSINO_MEDIO"] = df_enade_17_18_19.groupby(['QE_I17','QE_I18']).ngroup()

In [58]:
dim_ensino_medio = df_enade_17_18_19[["ID_ALUNO_ENSINO_MEDIO",'QE_I17','QE_I18']]
dim_ensino_medio = dim_ensino_medio.drop_duplicates().set_index("ID_ALUNO_ENSINO_MEDIO").sort_index()

In [59]:
dicionario_resposta = {"A" : "Todo em escola pública",
                         "B" : "Todo em escola privada",
                         "C" : "Todo no exterior",
                         "D" : "A maior parte em escola pública",
                         "E" : "A maior parte em escola privada",
                         "F" : "Parte no Brasil e parte no exterior"}

dim_ensino_medio = dim_ensino_medio.replace({"QE_I17": dicionario_resposta})

dicionario_resposta = {"A" : "Ensino médio tradicional",
                         "B" : "Profissionalizante técnico",
                         "C" : "Profissionalizante magistério",
                         "D" : "EJA e/ou Supletivo",
                         "E" : "Outra modalidade"}

dim_ensino_medio = dim_ensino_medio.replace({"QE_I18": dicionario_resposta})

In [60]:
dim_ensino_medio = dim_ensino_medio.rename(columns = {"QE_I17" : "TIPO_ESCOLA_EM",
                       "QE_I18" : "MODALIDADE_EM"})

In [61]:
dim_ensino_medio.head(3)

                               TIPO_ESCOLA_EM                  MODALIDADE_EM
ID_ALUNO_ENSINO_MEDIO
0                      Todo em escola pública       Ensino médio tradicional
1                      Todo em escola pública     Profissionalizante técnico
2                      Todo em escola pública  Profissionalizante magistério

## Dimensao Formação Familiares

In [62]:
df_enade_17_18_19.QE_I04 = np.where(df_enade_17_18_19.QE_I04.isna(), 
                                    df_enade_17_18_19.QE_I04.value_counts().idxmax(), df_enade_17_18_19.QE_I04)

df_enade_17_18_19.QE_I05 = np.where(df_enade_17_18_19.QE_I05.isna(), 
                                    df_enade_17_18_19.QE_I05.value_counts().idxmax(), df_enade_17_18_19.QE_I05)

df_enade_17_18_19.QE_I21 = np.where(df_enade_17_18_19.QE_I21.isna(), 
                                    df_enade_17_18_19.QE_I21.value_counts().idxmax(), df_enade_17_18_19.QE_I21)

In [63]:
df_enade_17_18_19["ID_FORMACAO_FAMILIA"] = df_enade_17_18_19.groupby(['QE_I04','QE_I05','QE_I21']).ngroup()

In [64]:
dim_formacao_familiares = df_enade_17_18_19[["ID_FORMACAO_FAMILIA",'QE_I04','QE_I05','QE_I21']]
dim_formacao_familiares = dim_formacao_familiares.drop_duplicates().set_index("ID_FORMACAO_FAMILIA").sort_index()

In [65]:
dicionario_resposta = {"A" : "Nenhuma",
                         "B" : "Ensino Fundamental: 1º ao 5º ano (1ª a 4ª série)",
                         "C" : "Ensino Fundamental: 6º ao 9º ano (5ª a 8ª série)",
                         "D" : "Ensino Médio",
                         "E" : "Ensino Superior - Graduação",
                         "F" : "Pós-graduação"}

dim_formacao_familiares = dim_formacao_familiares.replace({"QE_I04": dicionario_resposta})
dim_formacao_familiares = dim_formacao_familiares.replace({"QE_I05": dicionario_resposta})

dicionario_resposta = {"A" : "Sim",
                         "B" : "Não"}

dim_formacao_familiares = dim_formacao_familiares.replace({"QE_I21": dicionario_resposta})

In [66]:
dim_formacao_familiares = dim_formacao_familiares.rename(columns = {"QE_I04" : "ESCOLARIZACAO_PAI",
                       "QE_I05" : "ESCOLARIZACAO_MAE",
                       "QE_I21" : "FAMILIAR_GRADUADO"})

In [67]:
dim_formacao_familiares.head(5)

,ESCOLARIZACAO_PAI,ESCOLARIZACAO_MAE,FAMILIAR_GRADUADO
ID_FORMACAO_FAMILIA,,,
0,Nenhuma,Nenhuma,Sim
1,Nenhuma,Nenhuma,Não
2,Nenhuma,Ensino Fundamental: 1º ao 5º ano (1ª a 4ª série),Sim
3,Nenhuma,Ensino Fundamental: 1º ao 5º ano (1ª a 4ª série),Não
4,Nenhuma,Ensino Fundamental: 6º ao 9º ano (5ª a 8ª série),Sim

## Dimensao Oportunidades

In [68]:
df_enade_17_18_19.QE_I24 = np.where(df_enade_17_18_19.QE_I24.isna(), "Não Respondeu", df_enade_17_18_19.QE_I24)
df_enade_17_18_19.QE_I43 = np.where(df_enade_17_18_19.QE_I43.isna(), "Não Respondeu", df_enade_17_18_19.QE_I43)
df_enade_17_18_19.QE_I44 = np.where(df_enade_17_18_19.QE_I44.isna(), "Não Respondeu", df_enade_17_18_19.QE_I44)
df_enade_17_18_19.QE_I52 = np.where(df_enade_17_18_19.QE_I52.isna(), "Não Respondeu", df_enade_17_18_19.QE_I52)
df_enade_17_18_19.QE_I53 = np.where(df_enade_17_18_19.QE_I53.isna(), "Não Respondeu", df_enade_17_18_19.QE_I53)

In [69]:
df_enade_17_18_19["ID_OPORTUNIDADES"] = df_enade_17_18_19.groupby(['QE_I14','QE_I24','QE_I43', 'QE_I44','QE_I52','QE_I53']).ngroup()

In [70]:
dim_oportunidades = df_enade_17_18_19[["ID_OPORTUNIDADES",'QE_I14','QE_I24','QE_I43', 'QE_I44','QE_I52','QE_I53']]
dim_oportunidades = dim_oportunidades.drop_duplicates().set_index("ID_OPORTUNIDADES").sort_index()

In [71]:
dicionario_resposta = {"A" : "Não participei",
                         "B" : "Programa Ciência sem Fronteiras",
                         "C" : "Programa de intercâmbio financiado pelo Governo Federal",
                         "D" : "Programa de intercâmbio financiado pelo Governo Estadual",
                         "E" : "Programa de intercâmbio da minha instituição",
                         "F" : "Outro intercâmbio não institucional"}

dim_oportunidades = dim_oportunidades.replace({"QE_I14": dicionario_resposta})

dicionario_resposta = {"A" : "Modalidade presencial",
                         "B" : "Modalidade semipresencial",
                         "C" : "Parte presencial e parte semipresencial",
                         "D" : "A distância",
                         "E" : "Não"}

dim_oportunidades = dim_oportunidades.replace({"QE_I24": dicionario_resposta})

dicionario_resposta = {1 : "Discordo Totalmente",
                        2 : "Discordo Parcialmente",
                        3 : "Nem Discordo Nem Concordo",
                        4: "Concordo Um Pouco",
                        5: "Concordo Bastante",
                        6:"Concordo Totalmente",
                        7:"Não sei responder",
                        8:"Não se aplica",
                        "1" : "Discordo Totalmente",
                        "2" : "Discordo Parcialmente",
                        "3" : "Nem Discordo Nem Concordo",
                        "4": "Concordo Um Pouco",
                        "5": "Concordo Bastante",
                        "6":"Concordo Totalmente",
                        "7":"Não sei responder",
                        "8":"Não se aplica"}

dim_oportunidades = dim_oportunidades.replace({"QE_I43": dicionario_resposta})
dim_oportunidades = dim_oportunidades.replace({"QE_I44": dicionario_resposta})
dim_oportunidades = dim_oportunidades.replace({"QE_I52": dicionario_resposta})
dim_oportunidades = dim_oportunidades.replace({"QE_I53": dicionario_resposta})

In [72]:
dim_oportunidades = dim_oportunidades.rename(columns =  {"QE_I14" : "ATIVIDADES_CURRICURALES_EXTERIOR",
                         "QE_I24" : "IDIOMA_ESTRANGEIRO",
                         "QE_I43" : "EXTENSAO_UNIVERSITARIA",
                         "QE_I44" : "ATIVIDADES_INVESTIGACAO_ACADEMICA",
                         "QE_I52" : "INTERCAMBIO_ESTAGIO_PAIS",
                         "QE_I53" : "INTERCAMBIO_ESTAGIO_FORA_DO_PAIS"})

In [73]:
dim_oportunidades.head(4)

,ATIVIDADES_CURRICURALES_EXTERIOR,IDIOMA_ESTRANGEIRO,EXTENSAO_UNIVERSITARIA,ATIVIDADES_INVESTIGACAO_ACADEMICA,INTERCAMBIO_ESTAGIO_PAIS,INTERCAMBIO_ESTAGIO_FORA_DO_PAIS
ID_OPORTUNIDADES,,,,,,
0,Não participei,Modalidade presencial,Discordo Totalmente,Discordo Totalmente,Discordo Totalmente,Discordo Totalmente
1,Não participei,Modalidade presencial,Discordo Totalmente,Discordo Totalmente,Discordo Totalmente,Discordo Parcialmente
2,Não participei,Modalidade presencial,Discordo Totalmente,Discordo Totalmente,Discordo Totalmente,Nem Discordo Nem Concordo
3,Não participei,Modalidade presencial,Discordo Totalmente,Discordo Totalmente,Discordo Totalmente,Concordo Um Pouco

## Dimensao Aluno Economico

In [74]:
df_enade_17_18_19.QE_I07 = np.where(df_enade_17_18_19.QE_I07.isna(), 
                                    df_enade_17_18_19.QE_I07.value_counts().idxmax(), df_enade_17_18_19.QE_I07)

df_enade_17_18_19.QE_I08 = np.where(df_enade_17_18_19.QE_I08.isna(), 
                                    df_enade_17_18_19.QE_I08.value_counts().idxmax(), df_enade_17_18_19.QE_I08)

df_enade_17_18_19.QE_I10 = np.where(df_enade_17_18_19.QE_I10.isna(), 
                                    df_enade_17_18_19.QE_I10.value_counts().idxmax(), df_enade_17_18_19.QE_I10)

df_enade_17_18_19.QE_I12 = np.where(df_enade_17_18_19.QE_I12.isna(), 
                                    df_enade_17_18_19.QE_I12.value_counts().idxmax(), df_enade_17_18_19.QE_I12)

df_enade_17_18_19.QE_I15 = np.where(df_enade_17_18_19.QE_I15.isna(), 
                                    df_enade_17_18_19.QE_I15.value_counts().idxmax(), df_enade_17_18_19.QE_I15)

In [75]:
dim_aluno_econ = df_enade_17_18_19[['QE_I07','QE_I08','QE_I10','QE_I12','QE_I15']].copy()

In [76]:
dicionario_resposta = {"A" : "Nenhum",
                             "B" : "Auxílio moradia",
                             "C" : "Auxílio alimentação",
                             "D" : "Auxílio moradia e alimentação",
                             "E" : "Auxílio permanência",
                             "F" : "Outro tipo de auxílio"}

dim_aluno_econ = dim_aluno_econ.replace({"QE_I12": dicionario_resposta})

dicionario_resposta = {"A" : "Não",
                             "B" : "Critério étnico-racial",
                             "C" : "Critério de renda",
                             "D" : "Critério escola pública ou particular com bolsa de estudos",
                             "E" : "Combinação de dois ou mais critérios",
                             "F" : "Outro Critério"}

dim_aluno_econ = dim_aluno_econ.replace({"QE_I15": dicionario_resposta})

dicionario_resposta = {"A" : "Não estou trabalhando.",
                         "B" : "Trabalho eventualmente.",
                         "C" : "Trabalho até 20 horas semanais.",
                         "D" : "Trabalho de 21 a 39 horas semanais.",
                         "E" : "Trabalho 40 horas semanais ou mais."}

dim_aluno_econ = dim_aluno_econ.replace({"QE_I10": dicionario_resposta})

dicionario_resposta = {"A" : "Até 1,5 salário mínimo",
                       "B" : "De 1,5 a 3 salários mínimos",
                       "C" : "De 3 a 4,5 salários mínimos",
                       "D" : "De 4,5 a 6 salários mínimos",
                       "E" : "De 6 a 10 salários mínimos",
                       "F" : "De 10 a 30 salários mínimos",
                       "G" : "Acima de 30 salários mínimos"}

dim_aluno_econ = dim_aluno_econ.replace({"QE_I08": dicionario_resposta})


dicionario_resposta = {"A" : "Nenhuma",
                         "B" : "Uma",
                         "C" : "Duas",
                         "D" : "Três",
                         "E" : "Quatro",
                         "F" : "Cinco",
                         "G" : "Seis",
                         "H" : "Sete ou mais"}

dim_aluno_econ = dim_aluno_econ.replace({"QE_I07": dicionario_resposta})

In [77]:
df_enade_17_18_19.QE_I07.value_counts(dropna = False)

D    318079
C    301603
B    208137
E    177639
A    165505
F     74013
G     27492
H     19303
Name: QE_I07, dtype: int64

In [78]:
dim_aluno_econ["ID_ALUNO_ECONOMICO"] = dim_aluno_econ.groupby(['QE_I07','QE_I08','QE_I10',
                                                                     'QE_I12','QE_I15']).ngroup()

df_enade_17_18_19["ID_ALUNO_ECONOMICO"] = dim_aluno_econ["ID_ALUNO_ECONOMICO"].copy()
dim_aluno_econ = dim_aluno_econ.drop_duplicates().set_index("ID_ALUNO_ECONOMICO").sort_index()

In [79]:
dim_aluno_econ = dim_aluno_econ.rename(columns = {"QE_I08" : "RENDA_FAMILIAR",
                       "QE_I10" : "HORAS_TRABALHO",
                       "QE_I12" : "AUXILIO_RECEBIDO",
                       "QE_I15" : "ENTROU_POR_COTA",
                       "QE_I07" : "PESSOAS_MORAM_JUNTO"})

In [80]:
dim_aluno_econ.head(3)

,PESSOAS_MORAM_JUNTO,RENDA_FAMILIAR,HORAS_TRABALHO,AUXILIO_RECEBIDO,ENTROU_POR_COTA
ID_ALUNO_ECONOMICO,,,,,
0,Cinco,Acima de 30 salários mínimos,Não estou trabalhando.,Auxílio alimentação,Não
1,Cinco,Acima de 30 salários mínimos,Não estou trabalhando.,Auxílio moradia e alimentação,Não
2,Cinco,Acima de 30 salários mínimos,Não estou trabalhando.,Nenhum,Combinação de dois ou mais critérios

## Dimensao Percepcao Prova

In [81]:
dim_percepcao_prova = df_enade_17_18_19[['CO_RS_I1','CO_RS_I2','CO_RS_I8','CO_RS_I9']].copy()

In [82]:
dicionario_resposta = {"A" : "Muito fácil",
                       "B" : "Fácil",
                       "C" : "Médio",
                       "D" : "Difícil",
                       "E" : "Muito difícil",
                       "*" : "Resposta anulada",
                       "." : "Não respondeu "}

dim_percepcao_prova = dim_percepcao_prova.replace({"CO_RS_I1": dicionario_resposta})
dim_percepcao_prova = dim_percepcao_prova.replace({"CO_RS_I2": dicionario_resposta})

dicionario_resposta = {"A" : "Não estudou a maioria",
                       "B" : "Estudou alguns, mas nao aprendeu",
                       "C" : "Estudou a maioria, mas nao aprendeu",
                       "D" : "Estudou e aprendeu muitos",
                       "E" : "Estudou e aprendeu todos",
                       "*" : "Resposta anulada",
                       "." : "Não respondeu "}

dim_percepcao_prova = dim_percepcao_prova.replace({"CO_RS_I8": dicionario_resposta})

dicionario_resposta = {"A" : 0.5,
                       "B" : 1.5,
                       "C" : 2.5,
                       "D" : 3.5,
                       "E" : 4.5,
                       "*" : "Resposta anulada",
                       "." : "Não respondeu "}

dim_percepcao_prova = dim_percepcao_prova.replace({"CO_RS_I9": dicionario_resposta})

In [83]:
dim_percepcao_prova["ID_PERCEPCAO_PROVA"] = dim_percepcao_prova.groupby(['CO_RS_I1','CO_RS_I2',
                                                                         'CO_RS_I8','CO_RS_I9']).ngroup()

df_enade_17_18_19["ID_PERCEPCAO_PROVA"] = dim_percepcao_prova["ID_PERCEPCAO_PROVA"].copy()
dim_percepcao_prova = dim_percepcao_prova.drop_duplicates().set_index("ID_PERCEPCAO_PROVA").sort_index()

In [84]:
dim_percepcao_prova = dim_percepcao_prova.rename(columns = {"CO_RS_I1" : "GRAU_DIFICULDADE_FG",
                                                   "CO_RS_I2" : "GRAU_DIFICULDADE_CE",
                                                   "CO_RS_I8" : "PERCEPCAO_ESTUDO_CONTEUDO",
                                                   "CO_RS_I9" : "TEMPO_GASTO_PROVA"})

In [85]:
dim_percepcao_prova.head(4)

,GRAU_DIFICULDADE_FG,GRAU_DIFICULDADE_CE,PERCEPCAO_ESTUDO_CONTEUDO,TEMPO_GASTO_PROVA
ID_PERCEPCAO_PROVA,,,,
0,Difícil,Difícil,"Estudou a maioria, mas nao aprendeu",0.5
1,Difícil,Difícil,"Estudou a maioria, mas nao aprendeu",1.5
2,Difícil,Difícil,"Estudou a maioria, mas nao aprendeu",2.5
3,Difícil,Difícil,"Estudou a maioria, mas nao aprendeu",3.5

## Tabela Fato

In [86]:
colunas_ID = [col for col in df_enade_17_18_19 if col.startswith('ID_') or col.startswith('CO_MUNIC')]

In [87]:
fato_prova = df_enade_17_18_19[colunas_ID + ["NT_GER", "NT_FG", "NT_CE"]]

fato_prova = fato_prova.replace(",", ".", regex=True)
fato_prova[["NT_GER", "NT_FG", "NT_CE"]] = fato_prova[["NT_GER", "NT_FG", "NT_CE"]].astype(float)
fato_prova.index.name = "ID_PROVA"

In [88]:
fato_prova.head(4)

,ID_TEMPO,CO_MUNIC_CURSO,ID_CURSO,ID_IES_ANO,ID_PRESENCA,ID_ALUNO_INFO,ID_ALUNO_ENSINO_MEDIO,ID_FORMACAO_FAMILIA,ID_OPORTUNIDADES,ID_ALUNO_ECONOMICO,ID_PERCEPCAO_PROVA,NT_GER,NT_FG,NT_CE
ID_PROVA,,,,,,,,,,,,,,
0,2017,5103403,117,0,15,1940,5,46,12892,2011,1061,52.6,64.1,48.7
1,2017,5103403,117,0,15,974,1,54,13992,5723,101,63.1,82.1,56.7
2,2017,5103403,117,0,11,1123,5,58,27,2935,61,33.7,52.5,27.4
3,2017,5103403,117,0,15,1114,0,42,734,1866,457,58.1,72.6,53.2

# Inserção de Tabelas na Base de Dados

In [89]:
def nova_conexao(path, nome_bd):

    conec_bd = None
    try:
        conec_bd = sqlite3.connect(path + nome_bd)

    except Error as erro:
        print(erro)
        return 0
    
    finally:
        if conec_bd:
            conec_bd.close()
    return 1

In [90]:
def verifica_tabela_existe(cursor, nome_tabela):
    
    cursor.execute(''' SELECT name FROM sqlite_master WHERE type='table' AND name='{}' '''.format(nome_tabela))
    
    if cursor.fetchone():
        return 1
    else:
        return 0

In [91]:
def insere_tabelas_banco(df, nome_tabela):  

    path_atual = os.path.dirname(os.path.realpath('__file__')) + "\\" # Diretório corrente
    
    nome_index = df.index.name
    df = df.reset_index(drop = False)

    # Verifica se já existe tabela referente ao ano do Enade no banco
    tabela_existe = verifica_tabela_existe(cursor, nome_tabela)

    # Se não existe a tabela, é adicionada ao banco
    if not tabela_existe:
        
        dicionario_tipos = dict(df.dtypes)        
        
        for key in dicionario_tipos.keys():
    
            if is_integer_dtype(dicionario_tipos[key]):
                dicionario_tipos[key] = "integer"

            elif is_object_dtype(dicionario_tipos[key]):
                dicionario_tipos[key] = "text"

            elif is_float_dtype(dicionario_tipos[key]):
                dicionario_tipos[key] = "real"
                
 
        # Transforma o nome da coluna seguido por seu tipo em apenas uma string para cada coluna
        # Logo após concatena essas strings utilizando a vírgula como separador
        # Sendo o íncio da string final por exemplo:
        colunas = ", ".join([key + " " + value for key, value in dicionario_tipos.items()])
  
        print("Criando tabela {} ...".format(nome_tabela), end="\r", flush=True)

        # Cria a tabela no banco de dados sqlite passando o nome da tabela, o nome das colunas e seus tipos
        comando = f'CREATE TABLE {nome_tabela} ({colunas})'
#         comando = 'CREATE TABLE ' + nome_tabela + ' (' + colunas + ')'
        cursor.execute('' + comando + '')
    
        if nome_index is not None:

            comando = f'CREATE INDEX {nome_index} ON {nome_tabela} ({nome_index})'
            cursor.execute('' + comando + '')
        
        print("Tabela {} criada com sucesso no banco {}.".format(nome_tabela, nome_bd), end="\n\n")

        print("Importando Microdados para a tabela {} ...".format(nome_tabela), end="\r", flush=True)
        # Importa o dataframe com microdados referentes ao no para a tabela no banco de dados
        
        df.to_sql(nome_tabela, conec_bd, if_exists='append', index = False)
        conec_bd.commit()
        print("Microdados importados para a tabela {} com sucesso.".format(nome_tabela), end="\n\n")

    # Se a tabela já existe, nada acontece
    else:
        print("Tabela {} com Microdados já existe no banco de dados no banco.".format(nome_tabela, nome_bd), end="\n\n")
        
    print("-" * 90)

In [93]:
# Ininia a Conexão
if (nova_conexao(diretorio_atual,  nome_bd)):
    conec_bd = sqlite3.connect(diretorio_atual + nome_bd)
    cursor = conec_bd.cursor()
    print("Conexão ao banco '{}' criada com sucesso.\n".format(nome_bd))
    print("-" * 90)
    conec_bd.commit()
    
# Nomes das variáveis que contém os dataframes que serão importados
tabelas = [ df for df in dir() if df.startswith('dim_') or df.startswith('fato_')]

# Insere as Tabelas

for nome_tabela in tabelas:
    insere_tabelas_banco(globals()[nome_tabela], nome_tabela.upper())

# Encerra a Conexão
conec_bd.close()
print(f"Conexão ao banco '{nome_bd}' encerrada com sucesso.\n")

Conexão ao banco 'Enade_DW.sqlite' criada com sucesso.

------------------------------------------------------------------------------------------
Tabela DIM_ALUNO_ECON criada com sucesso no banco Enade_DW.sqlite.

Microdados importados para a tabela DIM_ALUNO_ECON com sucesso.

------------------------------------------------------------------------------------------
Tabela DIM_CURSO criada com sucesso no banco Enade_DW.sqlite.

Microdados importados para a tabela DIM_CURSO com sucesso.

------------------------------------------------------------------------------------------
Tabela DIM_ENSINO_MEDIO criada com sucesso no banco Enade_DW.sqlite.

Microdados importados para a tabela DIM_ENSINO_MEDIO com sucesso.

------------------------------------------------------------------------------------------
Tabela DIM_FORMACAO_FAMILIARES criada com sucesso no banco Enade_DW.sqlite.

Microdados importados para a tabela DIM_FORMACAO_FAMILIARES com sucesso.

------------------------------------------------------------------------------------------
Tabela DIM_IES criada com sucesso no banco Enade_DW.sqlite.

Microdados importados para a tabela DIM_IES com sucesso.

------------------------------------------------------------------------------------------
Tabela DIM_INFO_ALUNO criada com sucesso no banco Enade_DW.sqlite.

Microdados importados para a tabela DIM_INFO_ALUNO com sucesso.

------------------------------------------------------------------------------------------
Tabela DIM_OPORTUNIDADES criada com sucesso no banco Enade_DW.sqlite.

Microdados importados para a tabela DIM_OPORTUNIDADES com sucesso.

------------------------------------------------------------------------------------------
Tabela DIM_PERCEPCAO_PROVA criada com sucesso no banco Enade_DW.sqlite.

Microdados importados para a tabela DIM_PERCEPCAO_PROVA com sucesso.

------------------------------------------------------------------------------------------
Tabela DIM_PRESENCA criada com sucesso no banco Enade_DW.sqlite.

Microdados importados para a tabela DIM_PRESENCA com sucesso.

------------------------------------------------------------------------------------------
Tabela DIM_REGIAO criada com sucesso no banco Enade_DW.sqlite.

Microdados importados para a tabela DIM_REGIAO com sucesso.

------------------------------------------------------------------------------------------
Tabela DIM_TEMPO criada com sucesso no banco Enade_DW.sqlite.

Microdados importados para a tabela DIM_TEMPO com sucesso.

------------------------------------------------------------------------------------------
Tabela FATO_PROVA criada com sucesso no banco Enade_DW.sqlite.

Microdados importados para a tabela FATO_PROVA com sucesso.

------------------------------------------------------------------------------------------
Conexão ao banco 'Enade_DW.sqlite' encerrada com sucesso.